In [1]:
x="hello world"

In [2]:
x[1:8:1]

'ello wo'

In [3]:
x[1:8]

'ello wo'

In [6]:
print(x[-3])

r

name="sam"

In [9]:
name="sam"

In [10]:
last_letters=name[1:]

In [11]:
last_letters

'am'

In [12]:
name="p"+name[1:]

In [13]:
name

'pam'

In [14]:
x='world is cool'

In [28]:
x=x+"sun shine"

In [29]:
x

'world is coolsun shinesun shinesun shinesun shinesun shinesun shinesun shinesun shinesun shine'

In [20]:
x

'world is coolsun shinesun shine'

In [30]:
"2"+'3'

'23'

In [31]:
x="Hello apple"

In [32]:
x.upper()

'HELLO APPLE'

In [34]:
x.lower()

'hello apple'

In [35]:
len(x)

11

In [36]:
x.split()

['Hello', 'apple']

In [38]:
x.split('l')

['He', '', 'o app', 'e']

In [42]:
print('The {2} {1} {2} {0}'.format("fox", "brown", "quick"))

The quick brown quick fox

In [43]:
print('The {q} {b} {f}'.format(f="fox", b="brown", q="quick"))

The quick brown fox

In [44]:
result=100/77

In [45]:
result

1.2987012987012987

In [47]:
print("The result is{r:1.3f}".format(r=result))

The result is1.299

In [49]:
name="Dima"

In [50]:
name

'Dima'

In [59]:
print(name+' is {q}'.format(q="quick"))

Dima is quick

In [60]:
print("Hello \n world")

Hello
 world

In [61]:
print("Hello \t world")

Hello 	 world

In [62]:
print("Hello \r world")

 world

In [63]:
name="Dima"

In [67]:
print(f"This is me - {name}!")

This is me - Dima!

In [68]:
age=30.65778
print(f"This is me - {name}! And I am {age:1.2f}")

This is me - Dima! And I am 30.66

In [74]:
print("The %s %s is comming!" %("winter", "1111"))

The winter 1111 is comming!

In [75]:
mylist=["one", "two", "three"]

In [76]:
mylist

['one', 'two', 'three']

In [77]:
mylist[0]

'one'

In [78]:
mylist[2]

'three'

In [80]:
new_list=["MOOOOO"]

In [81]:
w=mylist+new_list

In [82]:
w

['one', 'two', 'three', 'MOOOOO']

In [83]:
mylist[0]="some changes"

In [84]:
mylist

['some changes', 'two', 'three']

In [85]:
mylist.append("wooohoo")

In [86]:
mylist

['some changes', 'two', 'three', 'wooohoo']

In [88]:
mylist.pop()

'wooohoo'

In [89]:
mylist

['some changes', 'two', 'three']

In [90]:
mylist.pop(0)

'some changes'

In [102]:
import string
mylist=["one", "two", "three"]

In [103]:
mylist

['one', 'two', 'three']

In [2]:
mylist=["one", "two", "three"]

In [3]:
w = mylist.pop(0)
print(w)

one

In [4]:
newlist=["one", "two", "three", "four"]

In [6]:
newlist.sort()

In [7]:
newlist

['four', 'one', 'three', 'two']

In [9]:
num_list=[10,1,5,7]
num_list.sort()
print(num_list)

[1, 5, 7, 10]

In [11]:
num_list=[10,1,5,7]
num_list.reverse()
print(num_list)

[7, 5, 1, 10]