In [1]:
t=(1,2,3)

In [2]:
type(t)

tuple

In [3]:
t[0]

1

In [4]:
t[2]

3

In [5]:
my_list=[1,'a','b',2]

In [6]:
t.count(1)

1

In [7]:
t=('a','a','b','c')
t

('a', 'a', 'b', 'c')

In [8]:
t.count('a')

2

In [9]:
t.index('b')

2

In [10]:
t.index('a')

0

In [11]:
my_list

[1, 'a', 'b', 2]

In [13]:
my_list[0]="new"

In [14]:
my_list

['new', 'a', 'b', 2]

In [15]:
t[0]="new"

TypeError: 'tuple' object does not support item assignment

In [19]:
myset=set()

In [20]:
myset.add(1)

In [21]:
myset

{1}

In [22]:
myset.add(2)
myset

{1, 2}

In [25]:
mylist=[1,1,1,1,4,4,9,224,4,4,3,4]

In [26]:
set(mylist)

{1, 3, 4, 9, 224}

In [27]:
mylist2=[11,"one",2,5,1,6,55,55,"big","big"]

In [28]:
set(mylist2)

{1, 11, 2, 5, 55, 6, 'big', 'one'}

In [30]:
True

True

In [31]:
False

False

In [32]:
None

In [33]:
1>2

False

In [35]:
1==1

True

In [36]:
b=None

In [37]:
b

In [38]:
c=True
c

True

In [39]:
{'key1':'value1', 'key2':'value2'}

{'key1': 'value1', 'key2': 'value2'}

In [40]:
dict={'key1':'value1', 'key2':'value2'}
dict

{'key1': 'value1', 'key2': 'value2'}

In [41]:
dict['key1']

'value1'

In [43]:
price_lookup={'apple':2.5,'orange':1.99,'milk':5.80}
price_lookup

{'apple': 2.5, 'orange': 1.99, 'milk': 5.8}

In [44]:
price_lookup['milk']

5.8

In [45]:
d={'k1':123,'k2':[0,3,5,2,"one"],'k3':{'insideKey':100}}

In [46]:
d

{'k1': 123, 'k2': [0, 3, 5, 2, 'one'], 'k3': {'insideKey': 100}}

In [49]:
d['k2'][4]

'one'

In [50]:
d['k3']['insideKey']

100

In [51]:
d={'k1':123,'k2':[0,3,5,2,"one"],'k3':{'insideKey':100,'insideKey2':['aaa','insidevalue']}}

In [52]:
d

{'k1': 123,
 'k2': [0, 3, 5, 2, 'one'],
 'k3': {'insideKey': 100, 'insideKey2': ['aaa', 'insidevalue']}}

In [53]:
d['k3']['insideKey2'][1]

'insidevalue'

In [55]:
d={'key1':['a','b','c']}
d

{'key1': ['a', 'b', 'c']}

In [56]:
mylist=d['key1']

In [57]:
mylist

['a', 'b', 'c']

In [58]:
letter=mylist[2]

In [59]:
letter

'c'

In [67]:
d1={'name':11111}
d2={'secondname':22222}
d3={'thirdname':33333}

In [61]:
d1['name']='Dima'
d1

{'name': 'Dima'}

In [62]:
d={'k1':123,'k2':[0,3,5,2,"one"],'k3':{'insideKey':100,'insideKey2':['aaa','insidevalue']}}

In [63]:
d

{'k1': 123,
 'k2': [0, 3, 5, 2, 'one'],
 'k3': {'insideKey': 100, 'insideKey2': ['aaa', 'insidevalue']}}

In [64]:
d.keys()

dict_keys(['k1', 'k2', 'k3'])

In [65]:
d.values()

dict_values([123, [0, 3, 5, 2, 'one'], {'insideKey': 100, 'insideKey2': ['aaa', 'insidevalue']}])

In [66]:
d.items()

dict_items([('k1', 123), ('k2', [0, 3, 5, 2, 'one']), ('k3', {'insideKey': 100, 'insideKey2': ['aaa', 'insidevalue']})])

In [68]:
new={}

In [69]:
new={"key1":{},'key2':{},'key3':{}}

In [70]:
new["key1"]=d1
new

{'key1': {'name': 11111}, 'key2': {}, 'key3': {}}

In [71]:
new["key2"]=d2

In [72]:
new

{'key1': {'name': 11111}, 'key2': {'secondname': 22222}, 'key3': {}}

In [74]:
di={'k1':555,"k2":'house',"k3":[1,2,66,13,'plane']}
di

{'k1': 555, 'k2': 'house', 'k3': [1, 2, 66, 13, 'plane']}

In [75]:
di2={'kk1':di,"kk2":222}

In [76]:
di2

{'kk1': {'k1': 555, 'k2': 'house', 'k3': [1, 2, 66, 13, 'plane']}, 'kk2': 222}