In [4]:
#кортеж
x=(12,"apple",13.2)
x

(12, 'apple', 13.2)

In [6]:
#список
s=[12,44,"tree"]
s

[12, 44, 'tree']

In [9]:
#словник
big=99
d={"apple":123, "carrot":big}
d

{'apple': 123, 'carrot': 99}

In [12]:
t="kilo mile"
j=t.split("l")
j

['ki', 'o mi', 'e']

In [16]:
j[0]

'ki'

In [17]:
print("The {0} {2} {1}".format("bread","brown", "tasty"))

The bread tasty brown

In [21]:
result=100/13
print('{r:1.2f}'.format(r=result))

7.69

In [22]:
name="Dima"
print(f'Hello, {name}')

Hello, Dima

In [28]:
print(f"Hello {name}! %s" % ("How are you?"))

Hello Dima! How are you?

In [29]:
mylist=["fast", 'slow', 'stable']
mylist.append('very fast')
mylist

['fast', 'slow', 'stable', 'very fast']

In [30]:
mylist.pop(1)
mylist

['fast', 'stable', 'very fast']

In [31]:
mylist[0]="orange"
mylist

['orange', 'stable', 'very fast']

In [32]:
type(mylist)

list

In [39]:
t=["abba",22,"apple",47, 22, 47, 22]
t.count(22)

3

In [42]:
myset=set()
myset.add('bomb')
myset

{'bomb'}

In [43]:
myset.add(29)
myset

{29, 'bomb'}

In [44]:
mylist=[1,1,1,1,4,4,9,224,4,4,3,4]

In [45]:
set(mylist)

{1, 3, 4, 9, 224}

In [48]:
dict={"apple":"big", 'carrot':45, 'inside':{'trr':99}}
dict['carrot']

45

In [49]:
dict['inside']['trr']

99

In [52]:
d1={"name":"Alex"}
d1["name"]="Dima"
d1

{'name': 'Dima'}

In [54]:
n=42
if n==42:
    print('Its the answer!')
else:
    print('Its a pity')

Its the answer!

In [55]:
hungry=False
if hungry:
    print('bla bla bla')
else:
    print('oooopa')

oooopa

In [56]:
tup=(9,"small",45)
for t in tup:
    print(t)

9
small
45

In [59]:
sp=["red", 'green', 'blue']
i=0
for mylist in sp:
    i+=1 #i=i+1
    print('color '+str(i)+' is '+str(mylist))

color 1 is red
color 2 is green
color 3 is blue

In [60]:
my_dict={'k1':1, 'k2':2, "k3":3}

for key, value in my_dict.items():
    print(key)
    print(value)

k1
1
k2
2
k3
3

In [61]:
x=0

while x<5:
    print('x is currently: ', x)
    print('x is still less than 5, adding 1 to x')
    x+=1

x is currently:  0
x is still less than 5, adding 1 to x
x is currently:  1
x is still less than 5, adding 1 to x
x is currently:  2
x is still less than 5, adding 1 to x
x is currently:  3
x is still less than 5, adding 1 to x
x is currently:  4
x is still less than 5, adding 1 to x